@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Главная";
}
<div class="jumbotron" id="main">                     
    @{
        Html.RenderPartial("_PartialIndex");
    }                                    
</div>

